<div class="conteiner-fluid">

  <nav *ngIf="userLogged" class="navbar navbar-expand-md n navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#" routerLink="/home">
      <i class="fa fa-user-edit"></i> {{title}}
    </a>

    <div *ngIf="userLogged.perfil === 'ADMIN' || userLogged.perfil === 'GERENTE' || userLogged.perfil === 'FUNC' " class="navbar-collapse collapsed justify-content-between" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="userLogged.perfil === 'ADMIN'">
          <a class="nav-link" href="#" routerLink="/tournament">Tournament</a>
        </li>
        <li class="nav-item"  *ngIf="userLogged.perfil === 'ADMIN'">
          <a class="nav-link" href="#" routerLink="/teams">Times</a>
        </li>
        <li class="nav-item"  *ngIf="userLogged.perfil === 'ADMIN'">
          <a class="nav-link" href="#" routerLink="/players">Players</a>
        </li>
        <li class="nav-item"  *ngIf="userLogged.perfil === 'ADMIN'">
          <a class="nav-link" href="#" routerLink="/groups">Grupos</a>
        </li>
        <li class="nav-item"  *ngIf="userLogged.perfil === 'ADMIN'">
          <a class="nav-link" href="#" routerLink="/matchs">Matchs</a>
        </li>
        <li class="nav-item"  *ngIf="userLogged.perfil === 'ADMIN'">
          <a class="nav-link" href="#" routerLink="/users">Usuarios</a>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Cadastros</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="#" routerLink="/tournament" (click)="$event.preventDefault()" *ngIf="userLogged.perfil === 'ADMIN'">Tournament</a>
            <a ngbDropdownItem href="#" routerLink="/teams" (click)="$event.preventDefault()" *ngIf="userLogged.perfil === 'ADMIN'">Times</a>
            <a ngbDropdownItem href="#" routerLink="/players" (click)="$event.preventDefault()" *ngIf="userLogged.perfil === 'ADMIN'">Players</a>
            <a ngbDropdownItem href="#" routerLink="/groups" (click)="$event.preventDefault()" *ngIf="userLogged.perfil === 'ADMIN'">Grupos</a>
            <a ngbDropdownItem href="#" routerLink="/matchs" (click)="$event.preventDefault()" *ngIf="userLogged.perfil === 'ADMIN'">Matchs</a>
            <a ngbDropdownItem href="#" routerLink="/users" (click)="$event.preventDefault()" *ngIf="userLogged.perfil === 'ADMIN'">Usuarios</a>
          </div>
        </li>
      </ul>

      <ul *ngIf="userLogged" class="navbar-nav ml-auto">
        <li class="nav-item">
          <p class="navbar-text mb-0 text-white">
            <i class="fa fa-user"></i> {{userLogged.nome}}
          </p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

 <router-outlet></router-outlet>

</div>

