<h1 *ngIf="isNewTeam">Novo Usuario</h1>
<h1 *ngIf="!isNewTeam">Editar Usuario</h1>

<div class="well">
  <form #formTeam="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" minlength="4" required [(ngModel)]="team.nome" #nome="ngModel">
      <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
        <div>Digite o nome do time.</div>
        <div>O nome deve conter no minimo 4 caracteres.</div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!formTeam.form.valid">
        <i *ngIf="!isLoading" class="fa fa-save" aria-hidden="true"></i>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1" ></span> Salvar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/team']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </form>
</div>
